.food-amount {
  color: rgb(47, 45, 45);
  margin: 0 10px;
  font-weight: bold;
}
input {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  border-color: rgb(182, 174, 174);
  font-weight: 600;
}
.btn {
  display: inline-block;
  text-decoration: none;
  border: none;
  background-color: #9d3c15;
  padding: 8px 30px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 50px;
  font-weight: 600;
}
.btn:hover {
  background-color: #7e3010;
}
