.cart-item {
  /* width: 400px; */
  /* background-color: beige; */
  border-bottom: 2px solid grey;
  padding: 10px;
  /* display: flex; */
  /* justify-content: space-between; */
}
.item-name {
  font-size: 18px;
  font-weight: bold;
  color: rgb(51, 49, 49);
}
.price {
  font-size: 16px;
  font-weight: bold;
  color: #b94517;
}
.pqdiv {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 10px;
}
.quantity {
  border: 2px solid #b94517;
  /* width: 30px; */
  border-radius: 5px;
  padding: 0 5px;
  margin: 0 20px;
}
.sub-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.control button {
  display: inline-block;
  border: 2px solid #615754;
  padding: 3px 15px;
  text-decoration: none;
  background-color: #fff;
  margin: 0 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.control button:hover {
  background-color: #b94517;
  color: #fff;
  border: 2px solid #b94517;
}
